NS_MARIADB_DATABASE=onebrc
NS_MARIADB_HOSTNAME=mariadb
NS_MARIADB_USER=onebrc
NS_MARIADB_PASSWORD=onebrc
NS_MARIADB_PORT=3306
NS_MARIADB_ROOT_PASSWORD=onebrc-root
RUSTFS_ADMIN_ACCESS_KEY=rustfsadmin
RUSTFS_ADMIN_SECRET_KEY=rustfsadmin
R2_API_ACCESS_KEY_ID=onebrc-readonly
R2_API_SECRET_ACCESS_KEY=onebrc-readonly-secret
