RUNNER_ROOT=/var/lib/1brc
RUNNER_WORK_ROOT=/var/lib/1brc/work
RUNNER_IMAGE={{ onebrc_runner_image }}
RUNNER_PUBLIC_INPUT={{ onebrc_public_input }}
RUNNER_PUBLIC_EXPECTED={{ onebrc_public_expected }}
RUNNER_PRIVATE_INPUT={{ onebrc_private_input }}
RUNNER_PRIVATE_EXPECTED={{ onebrc_private_expected }}
BENCHMARK_ENVIRONMENT_ID={{ onebrc_environment_id }}
RUNNER_TIMEOUT_SECONDS=900
